.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #4e75ff;
  border-bottom-color: transparent;
  display: block;
  border-radius: 50%;
  margin: 24px auto;
  animation: rotation 1s linear infinite;
}

.is-hidden {
  display: none !important;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  margin: 0 auto;
  max-width: 1128px;
  margin-bottom: 32px;
}

.gallery-item {
  width: 360px;
  border: 1px solid #808080;
  background: #fff;
  overflow: hidden;
}

.gallery-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 4px 20px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-label {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
}

.info-value {
  font-size: 12px;
  line-height: 2;
}

.load-more {
  display: block;
  margin: 0 auto 32px;
  padding: 8px 16px;
  
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  
  background-color: #4e75ff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.load-more:hover {
  background-color: #6c8cff;
}